mixin search(args)
	section.widget
		.body.no-margin
			form.form-inline.form-search.no-margin.text-align-center(method='get', action=args.target, role='form')
				.input-group
					input.form-control(type='search',name='search_term',id='search_term', placeholder=args.default)
					span.input-group-btn
						button.btn.btn-primary(type='submit') !{args.body}
