
// jquery and friends
script(src="lib/jquery/jquery-2.0.3.min.js")

// jquery plugins
script(src="lib/icheck.js/jquery.icheck.js")
script(src="lib/sparkline/jquery.sparkline.js")
script(src="lib/jquery-ui-1.10.3.custom.js")
script(src="lib/jquery.slimscroll.js")

// d3, nvd3
script(src='lib/nvd3/lib/d3.v2.js')
script(src='lib/nvd3/nv.d3.custom.js')
// nvd3 models
script(src='lib/nvd3/src/models/scatter.js')
script(src='lib/nvd3/src/models/axis.js')
script(src='lib/nvd3/src/models/legend.js')
script(src='lib/nvd3/src/models/multiBar.js')
script(src='lib/nvd3/src/models/multiBarChart.js')
script(src='lib/nvd3/src/models/line.js')
script(src='lib/nvd3/src/models/lineChart.js')
script(src='lib/nvd3/stream_layers.js')
// backbone and friends
script(src='lib/backbone/underscore-min.js')
script(src='lib/backbone/backbone-min.js')
script(src='lib/backbone/backbone.localStorage-min.js')
// bootstrap default plugins
script(src='lib/bootstrap/transition.js')
script(src='lib/bootstrap/collapse.js')
script(src='lib/bootstrap/alert.js')
script(src='lib/bootstrap/tooltip.js')
script(src='lib/bootstrap/popover.js')
script(src='lib/bootstrap/button.js')
script(src='lib/bootstrap/tab.js')
   
script(src='lib/bootstrap/dropdown.js')
// basic application js
script(src='js/theme/app.js')
script(src='js/theme/settings.js')
// page specific
script(src='js/theme/index.js')
script(src='js/theme/chat.js')

script#message-template(type='text/template')
  <div class="sender pull-left">
  <div class="icon">
  <img src="img/2.jpg" class="img-circle" alt="">
  </div>
  <div class="time">
  just now
  </div>
  </div>
  <div class="chat-message-body">
  <span class="arrow"></span>
  <div class="sender">Tikhon Laninga</div>
  <div class="text">
  <%- text %>
  </div>
  </div>
script#settings-template(type='text/template')
  <div class="setting clearfix">
  <div>Background</div>
  <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
  <% dark = background == 'dark'; light = background == 'light';%>
  <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
  <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
  </div>
  </div>
  <div class="setting clearfix">
  <div>Sidebar on the</div>
  <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
  <% onRight = sidebar == 'right'%>
  <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
  <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
  </div>
  </div>
  <div class="setting clearfix">
  <div>Sidebar</div>
  <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
  <% display = displaySidebar%>
  <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
  <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
  </div>
  </div>
script#sidebar-settings-template(type='text/template')
  <% auto = sidebarState == 'auto'%>
  <% if (auto) {%>
  <button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-sm">Icons</button>
  <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-sm">Auto</button>
  <%} else {%>
  <button type="button" data-value="auto" class="btn btn-transparent btn-sm">Auto</button>
  <% } %>